<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- SEO Meta Tags -->
    <meta name="description"
          content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services." />
    <meta name="author" content="Inovatik" />

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Almousa Company</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
          rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/swiper.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />

    <!-- Favicon  -->
    <link rel="icon" href="~/images/favicon.png" />
</head>
<body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> -->
        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html">
            <img src="~/images/logo_img.png" alt="alternative" />
        </a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header" style="color:black">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro" style="color:black">Who are we</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#goals" style="color:black">Our Goals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services" style="color:black">Our Projects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#projects" style="color:black">Recent News</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="https://www.instagram.com/almousaco">
                        <span class="hexagon"></span>
                        <i class="fab fa-instagram fa-stack-1x"></i>
                    </a>
                </span>
                <span class="  fa-stack">
                    <a href="https://twitter.com/almousaco">
                        <span class="hexagon"></span>
                        <i class="fab fa-twitter fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav>
    <!-- end of navbar -->
    <!-- end of navbar -->
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>
                                Sons of Abdulaziz:
                                <span id="js-rotating">Abdul Ilah, Ibrahim</span>
                                &nbsp;Al&nbsp;Mousa&nbsp;Real&nbsp;Estate&nbsp;Company
                            </h1>
                            <p class="p-heading p-large">
                                تأسست عام 1414 هـ بمدينة الرياض بالمملكة العربية السعودية
                            </p>
                            <a class="btn-solid-lg page-scroll" href="#intro">DISCOVER</a>
                        </div>
                    </div>
                    <!-- end of col -->
                </div>
                <!-- end of row -->
            </div>
            <!-- end of container -->
        </div>
        <!-- end of header-content -->
    </header>
    <!-- end of header -->
    <!-- end of header -->
    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <!-- <div class="section-title">INTRO</div> -->
                        <h2>
                            Who We Are
                        </h2>
                        <!-- <p>
                          Launching a new company or developing the market position of an
                          existing one can be quite an overwhelming processs at times.
                        </p> -->
                        <p class="testimonial-text">
                            Company Abdullelah and Ibrahim  Abdulaziz Al Mousa real estate was
                            founded in 1414 h in Riyadh, Saudi Arabia The company intends
                            Abdulelah Ibrahim sons of Abdul Aziz Al-Mousa extension of long experience
                            in the field of real estate investment for more than half a century have been
                            gained from Sheikh Abdulaziz bin Abdullah Al Mousa following
                            the imam (God’s Mercy) which is one of the biggest men of property and
                            its relations prominent in Saudi Arabia, which gained a strong floor and an
                            excellent reputation in real estate investment The company’s activities
                            in the previous was restricted to the purchase and sale of raw land with the
                            variables of the real estate market has expanded the company’s activities
                            and with a focus on real estate sector And not confined its activities to
                            the city of Riyadh only, but included most of the cities of the kingdom
                            so as to devise real estate products, new and unique.
                        </p>
                        <!-- <div class="testimonial-author">Louise Donovan - CEO</div> -->
                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container" style="    margin-top: 75px;">
                        <img class="img-fluid"
                             src="~/images/intro-office.jpg"
                             alt="alternative" />
                    </div>
                    <!-- end of image-container -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of basic-1 -->
    <!-- end of intro -->
    <!-- Description -->
    <div class="cards-1" id="goals">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Card -->
                    <div class="card" style="text-align: -webkit-center;">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-binoculars fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Our Mission</h4>
                            <p>
                                The Abdul Ilah and Ibrahim Company, the sons of Abdulaziz Al-Musa, is an extension of a long experience in the field of real estate investment for more than half a century that was acquired from the father, Sheikh Abdulaziz bin Abdullah Al-Mousa, the true merchant (may God have mercy on him), who is considered one of the largest real estate men and its prominent signs in the Kingdom of Saudi Arabia, which gained it a strong ground And an excellent reputation in real estate investments.
                            </p>
                        </div>
                    </div>
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card" style="text-align: -webkit-center;">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-list-alt fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Our goals</h4>
                            <p>
                                The Abdul Ilah and Ibrahim Company, the sons of Abdulaziz Al-Musa, is an extension of a long experience in the field of real estate investment for more than half a century that was acquired from the father, Sheikh Abdulaziz bin Abdullah Al-Mousa, the true merchant (may God have mercy on him), who is considered one of the largest real estate men and its prominent signs in the Kingdom of Saudi Arabia, which gained it a strong ground And an excellent reputation in real estate investments.
                            </p>
                        </div>
                    </div>
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card" style="text-align: -webkit-center;">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-chart-pie fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Rate us</h4>
                            <p>
                                Focusing on all kinds of real estate in the first place, which is the main activity of owners and the activities most associated with them. Building projects that help owning real estate assets. Focusing on medium-cost projects and thus medium-leasing projects, to cover the largest possible segment of beneficiaries and target the middle income group. Creating new and unprecedented real estate products.
                            </p>
                        </div>
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of cards-1 -->
    <!-- end of description -->
    <!-- Services -->                                        <!--posts here-->
    @RenderBody()
    <!-- end of cards-2 -->
    <!-- end of services -->
    <!-- Details 1 -->
    <!-- end of accordion -->
    <!-- end of details 1 -->
    <!-- Details 2 -->
    <!-- end of tabs -->
    <!-- end of details 2 -->
    <!-- Testimonials -->
    <!-- end of slider -->
    <!-- end of testimonials -->
    <!-- Call Me -->
    <!--<div id="callMe" class="form-1" style="    margin-top: 11px;">-->
    <!-- end of container -->
    <!--</div>-->
    <!-- end of form-1 -->
    <!-- end of call me -->
    <!-- Projects -->
    <!--<div id="projects" class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">PROJECTS</div>
                    <h2>Projects That We're Proud Of</h2>
                </div>-->
    <!-- end of col -->
    <!--</div>-->
    <!-- end of row -->
    <!--<div class="row">
        <div class="col-lg-12">-->
    <!-- Filter -->
    <!-- end of button group -->
    <!-- end of grid -->
    <!-- end of filter -->
    <!--</div>-->
    <!-- end of col -->
    <!--</div>-->
    <!-- end of row -->
    <!--</div>-->
    <!-- end of container -->
    <!--</div>-->
    <!-- end of filter -->
    <!-- end of projects -->
    <!-- end of lightbox -->
    <!-- end of basic-2 -->
    <!-- end of team -->
    <!-- About -->
    <!--
        <div id="about" class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-xl-6">
                    <div class="image-container">
                        <img class="img-fluid" src="~/images/about.jpg" alt="alternative" />
                    </div>-->
    <!-- end of image-container -->
    <!--</div>-->
    <!-- end of col -->
    <!--<div class="col-lg-7 col-xl-6">
        <div class="text-container">
            <div class="section-title">ABOUT</div>
            <h2>We're Passionate About Delivering Growth Services</h2>
            <p>
                Our goal is to provide the right business growth services at the
                appropriate time so companies can benefit from the created
                momentum and thrive for a long period of time
            </p>
            <ul class="list-unstyled li-space-lg">
                <li class="media">
                    <i class="fas fa-square"></i>
                    <div class="media-body">
                        Everything we recommend has direct positive impact
                    </div>
                </li>
                <li class="media">
                    <i class="fas fa-square"></i>
                    <div class="media-body">
                        You will become an important partner of our company
                    </div>
                </li>
            </ul>-->
    <!-- Counter -->
    <!--<div id="counter">
        <div class="cell">
            <div class="counter-value number-count" data-count="231">
                1
            </div>
            <div class="counter-info">Happy<br />Users</div>
        </div>
        <div class="cell">
            <div class="counter-value number-count" data-count="121">
                1
            </div>
            <div class="counter-info">Issues<br />Solved</div>
        </div>
        <div class="cell">
            <div class="counter-value number-count" data-count="159">
                1
            </div>
            <div class="counter-info">Good<br />Reviews</div>
        </div>
    </div>-->
    <!-- end of counter -->
    <!--</div>-->
    <!-- end of text-container -->
    <!--</div>-->
    <!-- end of col -->
    <!--</div>-->
    <!-- end of row -->
    <!--</div>-->
    <!-- end of container -->
    <!--</div>-->
    <!-- end of counter -->
    <!-- end of about -->
    <!-- Contact -->
    <!-- end of form-2 -->
    <!-- end of contact -->
    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Few Words About Almousa Company</h4>
                        <p class="white">
                            We're passionate about delivering the best building
                            services,Building projects that help owning real estate assets.
                            Focusing on medium-cost projects and thus medium-leasing projects.
                            Creating new and unprecedented real estate products.
                        </p>
                        @*<span class="fa-stack">
                                <a href="#your-link">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-facebook-f fa-stack-1x"></i>
                                </a>
                            </span>*@
                        @*<span class="fa-stack">
                                <a href="https://twitter.com/almousaco">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-twitter fa-stack-1x"></i>
                                </a>
                            </span>

                            <span class="fa-stack">
                                <a href="https://www.instagram.com/almousaco">
                                    <span class="hexagon"></span>
                                    <i class="fab fa-instagram fa-stack-1x"></i>
                                </a>
                            </span>*@


                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Links</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" href="https://twitter.com/almousaco">twitter.com</a>
                            </li>
                            <li>
                                <a class="white" href="https://www.instagram.com/almousaco">instagram.com</a>
                            </li>

                        </ul>
                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Tools</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="#your-link">businessgrowth.com</a>
                            </li>
                            <li>
                                <a class="white" href="#your-link">influencers.com</a>
                            </li>
                            <li class="media">
                                <a class="white" href="#your-link">optimizer.net</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Powered By </h4>
                        <h6> <a href="https://www.facebook.com/fater.barhoum/">Fater Barhoum</a></h6>
                        <span class="fa-stack">
                            <a href="https://www.facebook.com/fater.barhoum/">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook fa-stack-1x"></i>
                            </a>
                        </span>

                        <span class="fa-stack">
                            <a href="https://twitter.com/BarhFater">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>

                        <span class="fa-stack">
                            <a href="https://www.instagram.com/faterbarhoum/">
                                <span class="hexagon"></span>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>


                    </div>
                    <!-- end of text-container -->
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of footer -->
    <!-- end of footer -->
    <!-- Copyright -->
    <!--<div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">
                        Copyright © 2020
                        <a href="https://inovatik.com">Template by Inovatik</a>
                    </p>
                </div>-->
    <!-- end of col -->
    <!--</div>-->
    <!-- enf of row -->
    <!--</div>-->
    <!-- end of container -->
    <!--</div>-->
    <!-- end of copyright -->
    <!-- end of copyright -->
    <!-- Scripts -->
    @RenderBody()
    <script src="~/js/jquery.min.js"></script>
    <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="~/js/popper.min.js"></script>
    <!-- Popper tooltip library for Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Bootstrap framework -->
    <script src="~/js/jquery.easing.min.js"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="~/js/swiper.min.js"></script>
    <!-- Swiper for image and text sliders -->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <!-- Magnific Popup for lightboxes -->
    <script src="~/js/morphext.min.js"></script>
    <!-- Morphtext rotating text in the header -->
    <script src="~/js/isotope.pkgd.min.js"></script>
    <!-- Isotope for filter -->
    <script src="~/js/validator.min.js"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="~/js/scripts.js"></script>
    <!-- Custom scripts -->
    @RenderSection("Scripts", required: false)
</body>
</html>
</html>