
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/NavbarAdmin.cshtml";
}

<div>
    <div>
        <h4> Hello and welcome to supplier server</h4>
    </div>
    <div>
        You can go and explore our services as below:
        <ul>
            <li>
                <a href="~/Categories">
                    Categories
                </a>
            </li>
            <li>
                <a href="~/Products">
                    Products
                </a>
            </li>
            <li>
                <a href="~/CategoryProducts">
                    relation between products and categories.
                </a>
            </li>
            <li>
                <a href="~/CategorySpecifications">
                    Categories' Specifications
                </a>
            </li>
            <li>
                <a href="~/ProductSpecifications">
                    Products Specifications
                </a>
            </li>
        </ul>
    </div>
</div>